In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv("DATA/train.csv", sep = "\t")

In [18]:
train_df["age"].mean()

40.964747843397475

In [16]:
x = train_df[train_df["age"] < 33]

In [17]:
sum(x.balance)/601

16125.743760399335

In [13]:
x.describe()

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,...,month_sep,poutcome_other,poutcome_success,poutcome_unknown,contact_telephone,contact_unknown,default_code,loan_code,housing_code,y_code
count,601.000000,601.000000,601.000000,601.000000,601.000000,601.000000,601.000000,601.000000,601.000000,601.000000,...,601.000000,601.000000,601.000000,601.000000,601.000000,601.0,601.000000,601.000000,601.000000,601.000000
mean,73.765391,2699.768719,15.016639,332.337770,2.046589,59.445923,1.254576,0.008319,0.006656,0.046589,...,0.099834,0.066556,0.174709,0.615641,0.396007,0.0,0.001664,0.006656,0.029950,0.427621
std,5.727117,4970.206440,8.190018,264.233724,1.697398,90.173892,2.471858,0.090907,0.081377,0.210932,...,0.300028,0.249459,0.380034,0.486849,0.489473,0.0,0.040791,0.081377,0.170592,0.495146
min,66.000000,0.000000,1.000000,49.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,69.000000,482.000000,9.000000,151.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,73.000000,1419.000000,14.000000,252.000000,2.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,78.000000,3020.000000,22.000000,421.000000,2.000000,98.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.000000
max,95.000000,81204.000000,31.000000,2062.000000,17.000000,450.000000,20.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000

In [21]:
train_df["job"].value_counts()

blue-collar      7798
management       7563
technician       6105
admin.           4109
services         3308
retired          1815
self-employed    1264
entrepreneur     1191
unemployed       1034
housemaid        1003
student           749
unknown           229
Name: job, dtype: int64

In [22]:
y = train_df[train_df["job"] == "student"]

In [23]:
y.describe()

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,...,month_sep,poutcome_other,poutcome_success,poutcome_unknown,contact_telephone,contact_unknown,default_code,loan_code,housing_code,y_code
count,749.000000,749.000000,749.000000,749.000000,749.000000,749.000000,749.000000,749.0,749.0,749.0,...,749.000000,749.000000,749.000000,749.000000,749.000000,749.000000,749.00000,749.000000,749.000000,749.000000
mean,26.668892,1404.602136,14.913218,246.814419,2.308411,56.753004,0.907877,0.0,0.0,0.0,...,0.050734,0.088117,0.094793,0.695594,0.097463,0.154873,0.00267,0.012016,0.269693,0.303071
std,4.879002,2325.226477,8.878966,226.941779,2.460859,106.793577,2.252937,0.0,0.0,0.0,...,0.219601,0.283655,0.293125,0.460463,0.296786,0.362025,0.05164,0.109030,0.444097,0.459893
min,18.000000,-679.000000,1.000000,4.000000,1.000000,-1.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,23.000000,154.000000,7.000000,107.000000,1.000000,-1.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,26.000000,538.000000,14.000000,180.000000,2.000000,-1.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,29.000000,1681.000000,22.000000,314.000000,3.000000,92.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,1.000000,1.000000
max,48.000000,24025.000000,31.000000,2429.000000,26.000000,535.000000,37.000000,0.0,0.0,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000

In [25]:
y.balance.mean()

1404.6021361815754